#users>.user-13{
	color:white;
	font-weight: 1000;
	background-image: url('https://ckhung.github.io/a/m/ofset/10/snow-white-ipad.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:200px;
	width:200px;
}
